version: "3"
services:
  # --- BLOC PROFESSEUR ---
  namenode:
    build: .             # <--- MODIF 1 : Construit l'image hadoop-tp
    image: hadoop-tp
    hostname: namenode
    container_name: namenode
    command: ["hdfs", "namenode"]
    ports:
      - 9870:9870
    env_file:
      - ./config
    environment:
      ENSURE_NAMENODE_DIR: "/tmp/hadoop-root/dfs/name"
    volumes:
      - ./data:/opt/data

  datanode:
    image: hadoop-tp
    container_name: datanode
    command: ["hdfs", "datanode"]
    env_file:
      - ./config
    depends_on:
      - namenode

  datanode2:
    image: hadoop-tp
    container_name: datanode2
    command: ["hdfs", "datanode"]
    env_file:
      - ./config

  datanode3:
    image: hadoop-tp
    container_name: datanode3
    command: ["hdfs", "datanode"]
    env_file:
      - ./config 

  resourcemanager:
    image: hadoop-tp
    hostname: resourcemanager
    container_name: resourcemanager
    command: ["yarn", "resourcemanager"]
    ports:
       - 8088:8088
    env_file:
      - ./config
    volumes:
      - ./data:/opt/data

  nodemanager:
    image: hadoop-tp
    container_name: nodemanager
    command: ["yarn", "nodemanager"]
    env_file:
      - ./config

  taxi-app:
    build: 
      context: .
      dockerfile: Dockerfile.app
    container_name: taxi_app
    volumes:
      - ./src:/app/src
      - ./data:/app/data
    environment:
      - SPARK_MASTER=local[*]
    ports:
      - 8501:8501    # Port du site Web
      - 8000:8000    # NOUVEAU : Port des métriques
  

  # L'aspirateur de données
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  # Le tableau de bord
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin  # Mot de passe par défaut