global:
  scrape_interval: 5s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'taxi_app'
    static_configs:
      - targets: ['taxi_app:8000']